.resources__logo{
  display: block;
  width: 341px;
  height: 482px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 40px;
  }
  
#arzamas{
  background-image: url(../../../images/Attach/Декларация.jpg);
}